/* General header settings */
header
  width: 100%
  z-index: 9998
  position: static
  top: 0
  -webkit-font-smoothing: antialiased
  background: #FFFFFF
  @include clearfix()
  min-height: 126px
  a,
  a:hover,
  a:active,
  a:visited
    color: #FFFFFF
    display: block
    @include clearfix()

  .caret
    border-top-color: white

  .logo
    display: block
    margin-left: auto
    margin-right: auto
    margin-top: 10px
    margin-bottom: 10px

  /* Reset ul-behavior for navbar*/
  ul
    margin: 0
    padding: 0