.tree
  margin-top: 20px
  display: none
  @include at-breakpoint($desktop)
    display: block
    @include span-columns(3,12)
    @include at-breakpoint($huge)
      @include span-columns(5,24)
  ul
    list-style: none
    padding: 0
    margin: 0

  > ul li
    padding: 5px 9px 5px 9px
    list-style: none
    background: $cabletronic-red
    margin-bottom: 1px

  a
    color: #FFFFFF
    text-decoration: none

.fixed-tree
  position: fixed
  top: 80px
