.slideshow
  position: relative
  max-width: 1420px
  color: #FFFFFF
  -webkit-font-smoothing: antialiased
  margin-left: auto
  margin-right: auto
  .caption
    background: $cabletronic-red
    padding: 10px
    p
      color: rgba(255, 255, 255, 0.9)
    @include at-breakpoint($tablet)
      position: absolute
      top: 30px
      left: 30px
      width: 400px