<footer>
  <div class="container">
    <ul>
      <li>Hej</li>
    </ul>
    <ul>
      <li>Hej</li>
    </ul>
    <ul>
      <li>Hej</li>
    </ul>
    <ul>
      <li>Hej</li>
    </ul>
  </div>
</footer>