<footer>
  <div class="container">
    <ul>
      <li><h1>Sortiment</h1></li>
      <li>Bild & ljud</li>
      <li>Kabel</li>
      <li>Kabelvindor</li>
      <li>Kablage</li>
      <li>Kontaktdon</li>
      <li>Paneler & boxar</li>
      <li>Tillbehör</li>
      <li>Verktyg</li>
      <li>Mät & test</li>
      <li>Utförsäljning</li>
    </ul>
    <ul>
      <li><h1>Kundtjänst</h1></li>
      <li>Kontakta oss</li>
      <li>Skapa supporärende</li>
      <li>RMA-ansökan</li>
      <li>ÅF-ansökan</li>
    </ul>
    <ul>
      <li><h1>Om Cabletronic</h1></li>
      <li>Om oss</li>
      <li>Kontakta oss</li>
      <li>Nyheter</li>
      <li>Miljöpolicy</li>
      <li>Leverantörer</li>
    </ul>
    <ul>
      <li>
          <h1>Cabletronic AB</h1>
        <p>
          <span>Cabletronic</span>
          <span>Västberga Allé 32</span>
          <span>126 30 Hägersten</span>
        </p>
      </li>
      <li>
        <p>
          <span>08 - 447 43 50</span>
          <span>epost@cabletronic.se</span>
        </p>
      </li>
    </ul>

    <div class="legal">
      <div class="logo"><img src="/img/logo-white.svg"></div>
      <div class="copy">
        <span>Integritetspolicy</span><span>Användning av cookies</span><span>© 2013 Cabletronic AB </span>
      </div>
    </div>

  </div>
</footer>