<div class="tree" id="tree">
  <ul>
    <li>
      <a href="#">Bild & Ljud</a>
      <ul>
        <li>
          <a href="#">Nivå två</a>
          <ul><li><a href="#">Nivå tre</a></li></ul>
        </li>
      </ul>
    </li>
    <li><a href="#">Kabel</a></li>
    <li><a href="#">Kabelvindor</a></li>
    <li><a href="#">Kablage</a></li>
    <li><a href="#">Kontaktdon</a></li>
    <li><a href="#">Paneler & boxar</a></li>
    <li><a href="#">Tillbehör</a></li>
  </ul>
</div>