<div class="tree" id="tree">
  <ul>
    <li class="level0">
      <a href="#" class="dropdown">Bild & Ljud<span class="open-status">+</span></a>
      <ul class="level0">
        <li class="level1">
          <a href="#" class="dropdown">»&nbsp;Nivå två</a>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul> 
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
        </li>
        <li class="level1">
          <a href="#" class="dropdown">»&nbsp;Nivå två</a>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul> 
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
        </li>
        <li class="level1">
          <a href="#" class="dropdown">»&nbsp;Nivå två</a>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul> 
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
        </li>
        <li class="level1">
          <a href="#" class="dropdown">»&nbsp;Nivå två</a>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul> 
          <ul class="level1"><li><a href="#">Nivå tre</a></li></ul>
        </li>
      </ul>
    </li>
    <li class="level0"><a href="#">Kabel<span class="open-status">+</span></a></li>
    <li class="level0"><a href="#">Kabelvindor<span class="open-status">+</span></a></li>
    <li class="level0"><a href="#">Kablage<span class="open-status">+</span></a></li>
    <li class="level0"><a href="#">Kontaktdon<span class="open-status">+</span></a></li>
    <li class="level0"><a href="#">Paneler & boxar<span class="open-status">+</span></a></li>
    <li class="level0"><a href="#">Tillbehör<span class="open-status">+</span></a></li>
  </ul>
</div>