---
title: Cabletronic
---
<div class="container">
  <%= partial "includes/tree.erb" %>
  <div class="main">
    <h1>Om Cabletronic</h1>
    <p>
      Cabletronic AB grundades 1988 och huvudinriktningen var installationer av broadcast och litet senare tillhandahölls även produkter inom installationsprodukter och legotillverkning
     av kablage.
    </p>
    <p>
      Cabletronics utbud utökades med produkter inom telekom och audio/video segmentet. Efter flertalet lyckade år har företaget utvecklats tillsammans med branschen och är idag en ledande leverantör av produkter och lösningar inom AV-teknik, broadcast, event och medical.
    </p>
    <p>
      Idag är Cabletronic ett teknikföretag med 14 medarbetare där de flesta har lång erfarenhet och bred kunskap. Vårt lager är beläget i Stockholm (Västberga, Hägersten) tillsammans med försäljning och administration. Lagret överstiger idag 2000 produkter och vi har egen tillverkning av kundanpassade produkter. Under över 25 år har vi arbetat tillsammans med välkända kunder och leverantörer, både vad det gäller produkter och lösningar.
    </p>
    <p>
      Vi ser med tillförsikt på framtiden, med fortsatt gott samarbete med våra kunder och leverantörer. Vi är hela tiden uppmärksammade för ny teknik och utveckling. Vår strävan är att alltid kunna leverera produkter och tjänster av yttersta kvalité samt ge god kunskap till våra kunder.
    </p>
  </div>
</div>