---
title: Cabletronic
---
<div class="container">
  <%= partial "includes/tree.erb" %>
  <div class="main">
    <h1>Support</h1>
    <p>
      Att kunna ge support på våra produkter är en viktig del för att våra kunder ska känna trygghet när man handlar från oss. Därför samarbetar vi nära våra tillverkare och ser till att vi hela tiden uppdaterar och utbildar oss inom varje produktområde.
    </p>
    <p>
      Du kan ofta finna teknisk support genom de manualer och teknisk dokumentation som följer med produkten. På respektive tillverkares hemsida finns i många fall utförlig dokumentation och skriftlig support tillgängligt. I vår webbshop finns datablad bifogade som kan laddas ned.
    </p>
    <p>
      Du kan fylla i vårt supportformulär här nedan och ställa frågor till oss. Vi svarar så fort som möjligt.
    </p>
    <form>
      <div class="form-group">
        <label>Företag</label>
        <input type="text" placeholder="Ert företagsnamn" class="form-control">
      </div>
      <div class="form-group">
        <label>Namn</label>
        <input type="text" placeholder="Ert namn" class="form-control">
      </div>
      <div class="form-group">
        <label>Kundnummer</label>
        <input type="number" class="form-control">
      </div>
      <div class="form-group">
        <label>Telefon</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Epost</label>
        <input type="email" class="form-control">
      </div>
      <div class="form-group">
        <label>Fråga</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Skicka</button>
      </div>
    </form>
  </div>
</div>