---
title: Cabletronic
---
<div class="slideshow">
  <div class="slide">
    <div class="image">
      <img src="/img/tvstudio.jpg">
    </div>
    <div class="caption">
      <h1>Broadcast</h1>
      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
      <p><a class="" href="/">Läs mer</a></p>
    </div>
  </div>
</div>
<div class="container">
  <%= partial "includes/tree.erb" %>
  <div class="main">
    <div class="week-campaign">
      <div class="image"><img src="/img/samsung.jpg"></div>
      <div class="desc">
        <h1>Samsungveckor!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sit, sequi laudantium omnis dolorem debitis esse dolore quaerat.</p>
      </div>
    </div>
    <div class="product-list-ver cols-3">
      <div class="product">
        <div class="inner">
          <div class="image"><img src="/img/syncmaster.jpg"></div>
          <div class="desc">
            <h3>Samsung<br> SyncMaster 9 series</h3>
            <ul>
              <li>Hög upplösning, 1920x1200px</li>
              <li>Vinklingsbart stativ</li>
              <li>Stilfull design</li>
              <li>Högblank skärm</li>
            </ul>
            <div class="pricearea">
              <span>Rek. 70 355:-</span><br>
              <div class="buy-area">
                <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
                <a class="btn btn-primary">Köp</a>
              </div>
              <span class="price"> 49 990:-</span>
            </div>
          </div>
          <div class="arrow">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="inner">
          <div class="image"><img src="/img/syncmaster.jpg"></div>
          <div class="desc">
            <h3>Samsung<br> SyncMaster 9 series</h3>
            <ul>
              <li>Hög upplösning, 1920x1200px</li>
              <li>Vinklingsbart stativ</li>
              <li>Stilfull design</li>
              <li>Högblank skärm</li>
            </ul>
            <div class="pricearea">
              <span>Rek. 70 355:-</span><br>
              <div class="buy-area">
                <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
                <a class="btn btn-primary">Köp</a>
              </div>
              <span class="price"> 49 990:-</span>
            </div>
          </div>
          <div class="arrow">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="inner">
          <div class="image"><img src="/img/syncmaster.jpg"></div>
          <div class="desc">
            <h3>Samsung<br> SyncMaster 9 series</h3>
            <ul>
              <li>Hög upplösning, 1920x1200px</li>
              <li>Vinklingsbart stativ</li>
              <li>Stilfull design</li>
              <li>Högblank skärm</li>
            </ul>
            <div class="pricearea">
              <span>Rek. 70 355:-</span><br>
              <div class="buy-area">
                <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
                <a class="btn btn-primary">Köp</a>
              </div>
              <span class="price"> 49 990:-</span>
            </div>
          </div>
          <div class="arrow">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="calloutbox">
      <div class="box"><img src="/img/ipadair.jpg"></div>
      <div class="box"><img src="/img/chromebook.jpg"></div>
      <div class="box"><img src="/img/gifts.jpg"></div>
    </div>

    <div class="product-list-hor cols-3">
      <div class="product">
        <div class="image"><img src="/img/syncmaster.jpg"></div>
        <h3>Samsung SyncMaster 9 series</h3>
        <div class="desc">
          <ul>
            <li>Hög upplösning, 1920x1200px</li>
            <li>Vinklingsbart stativ</li>
            <li>Stilfull design</li>
            <li>Högblank skärm</li>
          </ul>
          <div class="pricearea">
            <span>Rek. 7 000:-</span><br>
            <div class="buy-area">
              <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
              <a href="#" class="btn btn-primary">Köp</a>
            </div>
            <span class="price"> 4 990:-</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="image"><img src="/img/syncmaster.jpg"></div>
        <h3>Samsung SyncMaster 9 series</h3>
        <div class="desc">
          <ul>
            <li>Hög upplösning, 1920x1200px</li>
            <li>Vinklingsbart stativ</li>
            <li>Stilfull design</li>
            <li>Högblank skärm</li>
          </ul>
          <div class="pricearea">
            <span>Rek. 7 000:-</span><br>
            <div class="buy-area">
              <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
              <a href="#" class="btn btn-primary">Köp</a>
            </div>
            <span class="price"> 4 990:-</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="image"><img src="/img/syncmaster.jpg"></div>
        <h3>Samsung SyncMaster 9 series</h3>
        <div class="desc">
          <ul>
            <li>Hög upplösning, 1920x1200px</li>
            <li>Vinklingsbart stativ</li>
            <li>Stilfull design</li>
            <li>Högblank skärm</li>
          </ul>
          <div class="pricearea">
            <span>Rek. 7 000:-</span><br>
            <div class="buy-area">
              <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
              <a href="#" class="btn btn-primary">Köp</a>
            </div>
            <span class="price"> 4 990:-</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="image"><img src="/img/syncmaster.jpg"></div>
        <h3>Samsung SyncMaster 9 series</h3>
        <div class="desc">
          <ul>
            <li>Hög upplösning, 1920x1200px</li>
            <li>Vinklingsbart stativ</li>
            <li>Stilfull design</li>
            <li>Högblank skärm</li>
          </ul>
          <div class="pricearea">
            <span>Rek. 7 000:-</span><br>
            <div class="buy-area">
              <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
              <a href="#" class="btn btn-primary">Köp</a>
            </div>
            <span class="price"> 4 990:-</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="image"><img src="/img/syncmaster.jpg"></div>
        <h3>Samsung SyncMaster 9 series</h3>
        <div class="desc">
          <ul>
            <li>Hög upplösning, 1920x1200px</li>
            <li>Vinklingsbart stativ</li>
            <li>Stilfull design</li>
            <li>Högblank skärm</li>
          </ul>
          <div class="pricearea">
            <span>Rek. 7 000:-</span><br>
            <div class="buy-area">
              <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
              <a href="#" class="btn btn-primary">Köp</a>
            </div>
            <span class="price"> 4 990:-</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="image"><img src="/img/syncmaster.jpg"></div>
        <h3>Samsung SyncMaster 9 series</h3>
        <div class="desc">
          <ul>
            <li>Hög upplösning, 1920x1200px</li>
            <li>Vinklingsbart stativ</li>
            <li>Stilfull design</li>
            <li>Högblank skärm</li>
          </ul>
          <div class="pricearea">
            <span>Rek. 7 000:-</span><br>
            <div class="buy-area">
              <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
              <a href="#" class="btn btn-primary">Köp</a>
            </div>
            <span class="price"> 4 990:-</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="image"><img src="/img/syncmaster.jpg"></div>
        <h3>Samsung SyncMaster 9 series</h3>
        <div class="desc">
          <ul>
            <li>Hög upplösning, 1920x1200px</li>
            <li>Vinklingsbart stativ</li>
            <li>Stilfull design</li>
            <li>Högblank skärm</li>
          </ul>
          <div class="pricearea">
            <span>Rek. 7 000:-</span><br>
            <div class="buy-area">
              <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
              <a href="#" class="btn btn-primary">Köp</a>
            </div>
            <span class="price"> 4 990:-</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="image"><img src="/img/syncmaster.jpg"></div>
        <h3>Samsung SyncMaster 9 series</h3>
        <div class="desc">
          <ul>
            <li>Hög upplösning, 1920x1200px</li>
            <li>Vinklingsbart stativ</li>
            <li>Stilfull design</li>
            <li>Högblank skärm</li>
          </ul>
          <div class="pricearea">
            <span>Rek. 7 000:-</span><br>
            <div class="buy-area">
              <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
              <a href="#" class="btn btn-primary">Köp</a>
            </div>
            <span class="price"> 4 990:-</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="image"><img src="/img/syncmaster.jpg"></div>
        <h3>Samsung SyncMaster 9 series</h3>
        <div class="desc">
          <ul>
            <li>Hög upplösning, 1920x1200px</li>
            <li>Vinklingsbart stativ</li>
            <li>Stilfull design</li>
            <li>Högblank skärm</li>
          </ul>
          <div class="pricearea">
            <span>Rek. 7 000:-</span><br>
            <div class="buy-area">
              <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
              <a href="#" class="btn btn-primary">Köp</a>
            </div>
            <span class="price"> 4 990:-</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="image"><img src="/img/syncmaster.jpg"></div>
        <h3>Samsung SyncMaster 9 series</h3>
        <div class="desc">
          <ul>
            <li>Hög upplösning, 1920x1200px</li>
            <li>Vinklingsbart stativ</li>
            <li>Stilfull design</li>
            <li>Högblank skärm</li>
          </ul>
          <div class="pricearea">
            <span>Rek. 7 000:-</span><br>
            <div class="buy-area">
              <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
              <a href="#" class="btn btn-primary">Köp</a>
            </div>
            <span class="price"> 4 990:-</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
