---
title: Cabletronic
---
<div class="container">
  <%= partial "includes/tree.erb" %>
  <div class="main">
    <div class="headline">
      <div class="product">Produkt</div>
      <div class="price">Pris</div>
    </div>
    <div class="productrow">
      <div class="image">
        <img src="/img/syncmaster.jpg">
      </div>
      <div class="right">
        <div class="desc">
          <h3>Samsung syncmaster Bl2218HD</h3>
          <ul>
            <li>Stor skärmyta</li>
            <li>Modern design</li>
            <li>Många ingångar</li>
          </ul>
        </div>
        <div class="pricearea">
          <span>Rek. pris 7 000:-</span><br>
          <span class="price">Ditt pris: 4 990:-</span>
        </div>
        <div class="buy-area">
          <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
          <a href="#" class="btn btn-primary">Köp</a>
        </div>
      </div>
      <div class="buy"></div>
      <div class="compare"></div>
    </div>
    <div class="productrow">
      <div class="image">
        <img src="/img/syncmaster.jpg">
      </div>
      <div class="right">
        <div class="desc">
          <h3>Samsung syncmaster Bl2218HD</h3>
          <ul>
            <li>Stor skärmyta</li>
            <li>Modern design</li>
            <li>Många ingångar</li>
          </ul>
        </div>
        <div class="pricearea">
          <span>Rek. 7 000:-</span><br>
          <span class="price"> 4 990:-</span>
        </div>
        <div class="buy-area">
          <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
          <a href="#" class="btn btn-primary">Köp</a>
        </div>
      </div>
      <div class="buy"></div>
      <div class="compare"></div>
    </div>
    <div class="productrow">
      <div class="image">
        <img src="/img/syncmaster.jpg">
      </div>
      <div class="right">
        <div class="desc">
          <h3>Samsung syncmaster Bl2218HD</h3>
          <ul>
            <li>Stor skärmyta</li>
            <li>Modern design</li>
            <li>Många ingångar</li>
          </ul>
        </div>
        <div class="pricearea">
          <span>Rek. 7 000:-</span><br>
          <span class="price"> 4 990:-</span>
        </div>
        <div class="buy-area">
          <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
          <a href="#" class="btn btn-primary">Köp</a>
        </div>
      </div>
      <div class="buy"></div>
      <div class="compare"></div>
    </div>
    <div class="productrow">
      <div class="image">
        <img src="/img/syncmaster.jpg">
      </div>
      <div class="right">
        <div class="desc">
          <h3>Samsung syncmaster Bl2218HD</h3>
          <ul>
            <li>Stor skärmyta</li>
            <li>Modern design</li>
            <li>Många ingångar</li>
          </ul>
        </div>
        <div class="pricearea">
          <span>Rek. 7 000:-</span><br>
          <span class="price"> 4 990:-</span>
        </div>
        <div class="buy-area">
          <span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span>
          <a href="#" class="btn btn-primary">Köp</a>
        </div>
      </div>
      <div class="buy"></div>
      <div class="compare"></div>
    </div>
  </div>
</div>