---
title: Cabletronic
---
<div class="container">
  <%= partial "includes/tree.erb" %>
  <div class="main">
    <div class="productrow">
      <div class="image">
        <img src="/img/syncmaster.jpg">
      </div>
      <div class="desc">
        <h1>Samsung sync</h1>
      </div>
      <div class="price"></div>
      <div class="buy"></div>
      <div class="compare"></div>
    </div>
  </div>
</div>