---
title: Cabletronic
---
<div class="container">
  <%= partial "includes/tree.erb" %>
  <div class="main">
    <div class="breadcrumbs"><a href="#">Hem</a> / <a href="#">Sortiment</a> / Kablevindor</div>
    <h1>Gefen 1:8 splitter for HDMI</h1>
    <div class="productimage">
      <img src="/img/syncmaster.jpg">
    </div>
    <div class="productarea">
      <div class="desc">
        <ul>
          <li>Hög upplösning, 1920x1200px</li>
          <li>Vinklingsbart stativ</li>
          <li>Stilfull design</li>
          <li>Högblank skärm</li>
        </ul>
      </div>
      <div class="pricearea">
        <span>Rekomenderat pris: 2.595kr</span>
        <span class="reseller">Ert pris: 1995kr</span>
      </div>
      <div class="buyarea">
        <div class="stock"><span class="glyphicon glyphicon-ok"></span><span class="stock"> I lager</span></div>
        <input type="number" class="form-control">
        <a href="#" class="btn btn-primary">Köp</a>
      </div>
    </div>
    <ul id="tabs">
        <li><a href="#" name="tab1">Beskrivning</a></li>
        <li><a href="#" name="tab2">Spec</a></li>
        <li><a href="#" name="tab3">Manualer</a></li>
    </ul>

    <div id="content"> 
        <div id="tab1">
        <p>Oavsett om det gäller arbete eller spel erbjuder Samsungs LED-bildskärmar i Serie 9 en häpnadsväckande och verklighetstrogen bildkvalitet. Nya funktioner som Natural Colour Expert och Accurate Color Presentation säkerställer att bildskärmen återger skarpare detaljer och fylligare färger. Varje bildskärm kalibreras individuellt på fabriken för att garantera naturliga och verklighetstrogna färger. PLS-tekniken gör att färgerna syns klart från i princip alla betraktningsvinklar. Serie 9-bildskärmen har även en läcker design och Crystal Clear Glass panel-display, ett stativ som kan justeras på höjden och en metallram.</p>

        <p>Samsungs LED-bildskärm i Serie 9 återger över en miljard färger. Förmågan att återge 1,07 miljarder färger ger bästa möjliga färgprecision för naturliga färger och extrem skärpa. Filmer, spel och foton kommer att se bättre ut tack vare det ökade färgomfånget. Med över en miljard färger blir upplevelsen oförglömlig.</p>
        </div>
        <div id="tab2">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th colspan="2">Allmänt</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col1">Typ av bildskärm</td>
                <td class="col2">LED-bakgrundsbelyst LCD-skärm / TFT aktiv matris</td>
              </tr>
              <tr>
                <td class="col1">Diagonal storlek</td>
                <td class="col2">23.6"</td>
              </tr>
              <tr>
                <td class="col1">Larry the Bird</td>
                <td class="col2">Thornton</td>
              </tr>
            </tbody>

          </table>
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th colspan="2">Diverse</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col1">Egenskaper</td>
                <td class="col2">Plats för säkerhetslås (kabellås säljs separat)</td>
              </tr>
              <tr>
                <td class="col1">Medföljande kablar</td>
                <td class="col2">HDMI-kabel<br>VGA-kabel</td>
              </tr>
              <tr>
                <td class="col1">Larry the Bird</td>
                <td class="col2">Thornton</td>
              </tr>
            </tbody>
          </table>  

        </div>
        <div id="tab3">...</div>
    </div>
          
  </div>
</div>